[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule ".tmux-themepack"]
	path = .tmux-themepack
	url = git@github.com:jimeh/tmux-themepack.git
[submodule "i3lock-multimonitor"]
	path = i3lock-multimonitor
	url = git@github.com:ShikherVerma/i3lock-multimonitor.git
[submodule "tmux-themepack"]
	path = tmux-themepack
	url = git@github.com:jimeh/tmux-themepack.git
